name: Conferenti Admin Frontend

on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches: [main]
    paths:
      - "conferenti-admin-web/**"
      - ".github/workflows/admin-frontend-test-build-deploy.yaml"
  push:
    branches: [main]
    paths:
      - "conferenti-admin-web/**"
      - ".github/workflows/admin-frontend-test-build-deploy.yaml"
  workflow_dispatch:
  
permissions:
  contents: read
  packages: write

jobs:
  buildTest:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./conferenti-admin-web"
    permissions:
      contents: read
      packages: write
      issues: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET 9.x
        uses: kkho/workflows/setup-dotnet@main
        with:
          dotnet-version: "9.x"
          solution-path: "./Conferenti.sln"

      - uses: kkho/workflows/unittest@main
        with:
          checkout: false
          collect-coverage: true
          dotnet-version: "9.x"
          working-directory: "./conferenti-admin-web"
          solution-path: "./Conferenti.sln"
          test-projects: "./conferenti-admin-web/tests/**/*Tests*csproj"
  
  build-dev:
    name: Build image for conferenti-admin-web-dev
    needs: [buildTest]
    uses: kkho/workflows/.github/workflows/build-push-frontend.yaml@main
    with:
      app_name: conferenti-admin-web
      system_name: conferenti
      environment: development
      dockerfile: ./conferenti-admin-web/Dockerfile
      docker-build-context: ./conferenti-admin-web
      push-image: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
      build-args: |
        LOCAL=${{ vars.LOCAL || false }}
        AUTH0_SCOPE=${{ vars.AUTH0_ADMIN_SCOPE || '' }}
        COSMOSDB_DATABASE="ConferentiDatabase"
        COSMOSDB_SPEAKER_CONTAINER="SpeakerContainer"
        COSMOSDB_SESSION_CONTAINER="SessionContainer"
        COSMOSDB_ENDPOINT=${{ vars.COSMOSDB_ENDPOINT || 'https://localhost:8081/' }}
      tags: |
        ${{ vars.CONTAINER_REGISTRY }}/${{ github.actor }}/conferenti/conferenti-admin-web-development:${{ github.run_number }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  notify-failed-tests:
    needs: [buildTest]
    if: ${{ always() }}
    uses: kkho/workflows/.github/workflows/slack-message.yaml@main
    with:
      channel: "#build-dev"
      message: |
        Test results: ${{ needs.tests.result }} for Conferenti Admin Web Tests (Development)
        Status: ${{ needs.tests.result == 'success' && '? Success' || '? Failed' }}
        Repository: ${{ github.repository }}
        Commit: ${{ github.sha }}
        Url: [View Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
      color: ${{ needs.tests.result == 'success' && 'good' || 'danger' }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}



      
     
    